@use '../../../styles/styles.scss' as *;

.soundSwitch {
	@include flexCenter;
	border-radius: 50%;
	font-size: 26px;
	@include themed() {
		background-color: t($buttonBgActive);
		color: t($buttonLabelActive);
	}
	&::before {
		margin-left: 3px;
	}
	&:hover {
		transition: .3s;
		@include themed() {
			// background: t($gradientButtonHover);
			background-color: #89CB64;
			// color: t($buttonLabelHover1);
		}
	}

	&_off {
		@include themed() {
			background: t($buttonBackgorundDisabled);
			color: t($buttonLabelActive);
		}
		&:hover {
			@include themed() {
				background: t($buttonBackgorundDisabled);
				color: t($buttonLabelActive);
			}
		}
	}
}