@use '../../../styles/styles.scss' as *;

.soundSwitch {
	border-radius: 50%;
	font-size: 22px;
	@include flexCenter;
	@include width-height(52px);
	@include themed() {
		background-color: t($buttonBgActive);
		color: t($buttonLabelActive);
	}
	&::before {
		margin-left: 2px;
	}
	&:hover {
		transition: .3s;
		@include themed() {
			background-color: t($buttonBgHover3);
		}
	}

	&_off {
		&::before {
			margin-left: 0;
		}
		@include themed() {
			background-color: t($buttonBgActive);
			color: t($buttonLabelActive);
		}
		&:hover {
			@include themed() {
				background-color: t($buttonBgHover3);
			}
		}
	}
}