@use '../../styles/styles.scss' as *;

.partnersGuide {
	position: relative;
	// padding: 12px 0;

	&__main {
		display: flex;
		gap: $space21;
		padding: 59px 120px 59px 120px;
	}
	&__card {
		border: 1px solid grey;
		@include width-height(680px, 360px);
		text-align: center;
		font-size: 50px;
	}
	&__languages {
		@include width-height(360px, 360px);
	}
	&__mascotImg {
		position: relative;
		width: 340px;
		display: flex;
		bottom: 0;
		margin-top: -230px;
		z-index: 2;
		& img {
			display: block;
			@include width-height(100%);
			object-fit: cover;
		}
	}

	&__subtitle {
		position: absolute;
		top: 478px;
		@include fontStyle(28px, 700, 40px);
		grid-template-columns: $space14 1fr fit-content(50px);
		grid-template-rows: 1fr 68px;
		column-gap: $space7;
		padding: $space8;
		z-index: 10;
	}
}
