@use '../../../styles/variables.scss' as v;

.window {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 100;
	overflow-y: scroll;
	padding: 20px;
	background-color: v.$colorWhite;
	&::-webkit-scrollbar {
		width: 0;
	}
	&__close {
		position: absolute;
		top: 32px;
		right: 32px;
		padding: 7px;
		background: none;
		border: none;
		&::before {
			content: '\00D7';
			color: #A7A7A7;
			font-size: 50px;
			font-weight: 500;
			@include v.flex-grid(flex, null, center, center);
		}
	}
}