@use '../../../styles/styles.scss' as *;

.settings {
	display: flex;
	position: relative;
	height: 100%;
	gap: 20px;
	height: 100%;
	padding: 50px 0;
	align-items: flex-start;
	&__mascot {
		padding: 43px;
		&_img {
			display: block;
		}
	}
	&__info {
		@include themed() {
			color: t($textPrimaryMain);
		}
	}
}

.info {
	max-width: 680px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 50px;
	// &__connections {
	// }
	&__logout {
		display: flex;
		align-items: center;
		gap: 8px;
		position: absolute;
		bottom: 50px;
		align-self: flex-end;
		background-color: transparent;
		@include themed() {
			@include fontStyle(20px, 400, 26px);
			color: t($buttonLabelDefault1);
		}
		&:hover {
			@include themed() {
				color: t($messageLabelGuides);
			}
		}
	}
}

.header {
	display: flex;
	justify-content: space-between;
	&__userInfo {
		display: flex;
		align-items: center;
		gap: 24px;
	}
	&__userName {
		@include fontStyle(36px, 400, 44px);
		@include fontRussoOne;
	}
	&__btnEdit {
		cursor: pointer;
		font-size: 28px;
		@include themed() {
			color: t($buttonLabelDefault1);
		}
	}
	&__langInfo {
		display: flex;
		align-items: center;
		background-color: transparent;
		gap: 8px;
		@include themed() {
			@include fontStyle(20px, 500, 24px);
			color: t($textPrimaryMain);
		}
		&::before {
			font-size: 8px;
		}
	}
	&__language {
		&_img {
			display: block;
			@include width-height(32px);
			border-radius: 50%;
			object-fit: cover;
		}
	}
}

.connections {
	display: flex;
	flex-direction: column;
	gap: 20px;
	&__title {
		@include fontStyle(20px, 700, 24px);
	}
	&__socials {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: $space18;
		padding: 12px 30px;
		border-radius: 16px;
		border: 1px solid transparent;
		@include themed() {
			background: t($buttonBgDefault);
		}
		&:hover {
			@include themed() {
				border-color: t($surfaceBorderSubtitles);
			}
		}
	}
	&__button {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		gap: 16px;
		@include fontStyle(20px, 400, 26px);
		background-color: transparent;
		@include themed() {
			color: t($buttonLabelDefault);
		}
		&_twitter {
			&::before {
				font-size: 32px;
			}
		}
		&_mail {
			display: flex;
			gap: 16px;
			&::before {
				font-size: 28px;
				color: #3C63EC;
			}
		}
		&_pass {
			width: fit-content;
			white-space: nowrap;
			@include fontStyle(16px, 500, 20px);
			background-color: transparent;
			@include themed() {
				color: t($buttonLabelDefault1);
			}
			&:hover {
				@include themed() {
					color: t($messageLabelGuides);
				}
			}
		}
	}
}

.container__language {
	position: relative;
	display: inline-block;
}

.menuLang {
	min-width: 260px;
	position: absolute;
	top: 100%;
	right: -24px;
	margin-top: 5px;
	display: inline-flex;
	padding: 12px;
	flex-direction: column;
	gap: 4px;
	border-radius: var(--Spacing-Radius-radius-medium, 20px);
	border: 1px solid var(--Colors-Primary-surface-border-subtitles, #636363);
	background: var(--Colors-Primary-surface-primary-2, #222);
	&::before {
		align-self: flex-end;
		position: absolute;
		top: 0;
		right: 0;
		margin-top: -14px;
		display: block;
		@include width-height($space18, 16px);
		content: '';
		background-image: url("data:image/svg+xml,%3Csvg width='19' height='12' viewBox='0 0 19 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.58547 1.84438C9.17557 1.23113 10.1571 1.23113 10.7472 1.84438L17.5942 8.95994C18.5111 9.91289 17.8358 11.5 16.5133 11.5H2.8194C1.4969 11.5 0.821546 9.91289 1.73853 8.95994L8.58547 1.84438Z' fill='%23222222' stroke='%23636363'/%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;
		background-position: center;
	}
	&__sublist {

	}
	&__item {
    display: flex;
    align-items: center;
		gap: $space4;
		padding: $space4 $space5;
		cursor: pointer;
		&:hover {
			@include themed() {
				background: t($gradientButtonHover1);
			}
			border-radius: $space4;
		}
	}
}
