@use '../../../../styles/styles.scss' as *;

.emailConnect {
	&__title {
		@include textStyleButton2;
	}
}

.form {
	&__inputs {
		display: flex;
		flex-direction: column;
		gap: 36px;
		margin: 32px 0 16px;
	}
	&__error {
		color: $colorRed500;
		@include fontStyle(13px, 400, normal);
		margin-top: -13px;
	}
	&__btn {
		max-width: 132px;
		width: 100%;
		height: $space14;
		margin-left: auto;
		@include fontStyle(20px, 700, 24px);
	}
}

.social {
	margin-top: 12px;
	&__title {
		margin-bottom: 16px;
		@include fontStyle(20px, 700, 24px);
	}
}

