@use '../../styles/styles.scss' as *;

.menu {
  position: relative;
  &__img {
    cursor: pointer;
  }
  &__list {
    position: absolute;
    min-width: 284px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 12px 12px 20px 20px;
    z-index: 50;
    padding: $space5;
    margin-top: 14px;
    @include themed() {
      border: 1px solid t($surfaceBorderSubtitles);
      background: t($surfacePrimary2);
    }
    &::before {
      align-self: flex-end;
      position: absolute;
      top: 0;
      right: 0;
      margin-top: -14px;
      display: block;
      @include width-height($space18, 16px);
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='19' height='12' viewBox='0 0 19 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.58547 1.84438C9.17557 1.23113 10.1571 1.23113 10.7472 1.84438L17.5942 8.95994C18.5111 9.91289 17.8358 11.5 16.5133 11.5H2.8194C1.4969 11.5 0.821546 9.91289 1.73853 8.95994L8.58547 1.84438Z' fill='%23222222' stroke='%23636363'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &__sublist {
    position: relative;
    display: none;
    flex-direction: column;
  }
  &__item {
    &_main {
      @include flex-grid(flex, row, none, none);
      gap: 12px;
    }  
  }
  &__submenu {
    @include flex-grid(flex, column, none, none);
    &:hover {
      .menu__sublist {
        display: flex;
      }
      .item .item__title {
        @include flexCenter;
        &::after {
          rotate: 0deg;
        }
      }
    }
  }
}

.item {
  @include flex-grid(flex, none, none, center);
  align-self: stretch;
  @include width-height(100%, 58px);
  padding: $space4;
  gap: 12px;
  cursor: pointer;
  @include fontStyle(20px, 500, 24px);
  @include themed() {
    color: t($textPrimaryMain);
  }
  &__row {
    justify-content: space-between;
  }
  &:hover {
    @include themed() {
      background: t($gradientButtonHover1);
    }
    border-radius: $space4;
  }
  &_subitem {
    @include fontStyle(18px, 500, 22px);
    padding: $space4 $space4 $space4 $space13;
  }
  &__title {
    display: flex;
    // gap: 12px;
    white-space: nowrap;
    &::after {
      @include flexCenter;
      font-size: 6px;
      rotate: 270deg;
    }
  }
  &__icon {
    @include flexCenter;
    width: 24px;
    &_flag {
      @include width-height(24px);
    }
  }
  &__notification {
    @include flex-grid(flex, column, center, center);
    @include width-height(20px, 20px);
    padding: var(--Spacing-0, 0px);
    gap: var(--Spacing-Space-spacing-none, 0px);
    flex-shrink: 0;
    text-align: center;
    @include themed() {
      border-radius: t($radiusMedium);
      background: t($buttonBgActive);
      color: t($buttonLabelActive);
    }
    @include fontRoboto;
    @include fontStyle(14px, 500, 10px);
    font-style: normal;
  }
}