@use '../../styles/styles.scss' as *;

.menu {
  position: relative;
  &:hover {
    .menu__list {
      display: flex;
    }
  }
  &__img {
    height: 100%;
    & img {

    }
  }
  &__list {
    position: absolute;
    min-width: 284px;
    top: 56px;
    right: 0;
    display: none;
    flex-direction: column;
    gap: 4px;
    border-radius: 12px 12px 20px 20px;
    z-index: 50;
    padding: $space5;
    @include themed() {
      border: 1px solid t($surfaceBorderSubtitles);
      background: t($surfacePrimary2);
    }
  }
  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include width-height(100%, 56px);
    padding: 0 15px;
    gap: 12px;
    cursor: pointer;
    @include fontStyle(20px, 500, 24px);
    @include themed() {
      color: t($textPrimaryMain);
    }
    &:hover {
      @include themed() {
        background: t($gradientButtonHover1);
      }
      border-radius: $space4;
    }
  }
  &__title {
    white-space: nowrap;
  }
}