@use '../../../../styles/styles.scss' as *;

.button {
	cursor: pointer;
	&_icon {
		@extend .button;
		background-color: transparent;
	}
	&:disabled {
		@include themed() {
			background: t($buttonBackgorundDisabled);
			color: t($buttonLabelDisabled);
		}
	}

	&_accent, &_border  {
		@include flexCenter;
		white-space: nowrap;
		transition: .3s;
		border-radius: 40px;
		gap: 8px;
	}

	&_accent {
		@include themed() {
			background: t($buttonBgActive);
			color: t($buttonLabelActive);
		}
		&::before {
			font-size: $space8;
			animation: spin 2s linear 0s infinite;
		}
		&:hover {
			@include themed() {
				background: t($buttonBgHover3);
				color: t($buttonLabelHover);
			}
		}
	}

	&_border {
		background-color: transparent;
		gap: 4px;
		@include themed() {
			@include borderStyle(3px solid t($buttonBgActive), 40px);
			color: t($buttonLabelActive2);
		}
		&:hover {
			@include themed() {
				background-color: t($buttonBgHover);
				color: t($buttonLabelHover);
			}
		}
		&::before {
			font-size: $space8;
			animation: spin 2s linear 0s infinite;
		}
		&:disabled {
			@include themed() {
				background: t($buttonBackgorundDisabled);
				color: t($buttonLabelDisabled);
			}
		}
	}
}

@keyframes spin {
  to {transform:rotate(360deg);}
}