//size names
$radiusSmall: radiusSmall;
$radiusMedium: radiusMedium;
$radiusLarge: radiusLarge;
$radiusXl: radiusXl;
$spacingNone: spacingNone;
//color names
$formBackground: formBackground;
$formLabel: formLabel;
$formLabelPlaceholder: formLabelPlaceholder;
$bg: bg;
$surfacePrimary: surfacePrimary;
$surfacePrimary2: surfacePrimary2;
$surfacePrimaryAccent: surfacePrimaryAccent;
$surfaceBorderAccent: surfaceBorderAccent;
$surfaceBorderSubtitles: surfaceBorderSubtitles;
$surfaceBorder1: surfaceBorder1;
$surfaceBorder2: surfaceBorder2;
$textPrimaryMain: textPrimaryMain;
$textAccent: textAccent;
$buttonBgActive: buttonBgActive;
$buttonLabelActive: buttonLabelActive;
$buttonLabelActive2: buttonLabelActive2;
$buttonLabelActive3: buttonLabelActive3;
$buttonBgHover: buttonBgHover;
$buttonLabelHover: buttonLabelHover;
$buttonLabelHover1: buttonLabelHover1;
$buttonBorderHover: buttonBorderHover;
$buttonBgPressed: buttonBgPressed;
$buttonLabelPressed: buttonLabelPressed;
$buttonLabelDisabled: buttonLabelDisabled;
$buttonBackgorundDisabled: buttonBackgorundDisabled;
$buttonBgError: buttonBgError;
$buttonPlaceholderError: buttonPlaceholderError;
$bgSecondary: bgSecondary;
$buttonBackgroundSecondary: buttonBackgroundSecondary;
$buttonLabelSecondary: buttonLabelSecondary;
//gradient names
$gradientImage: gradientImage;
$gradientButtonHover: gradientButtonHover;
//shadow
$shadowBgPopup: shadowBgPopup;