//size names
$radiusSmall: radiusSmall;
$radiusMedium: radiusMedium;
$radiusLarge: radiusLarge;
$radiusXl: radiusXl;
$spacingNone: spacingNone;
//color names
$formBackground: formBackground;
$formLabel: formLabel;
$formLabelPlaceholder: formLabelPlaceholder;
$buttonBgUpProgressBar: buttonBgUpProgressBar;
$buttonBgUpProgressBar2: buttonBgUpProgressBar2;
$buttonBgMidProgressBar: buttonBgMidProgressBar;
$buttonBgMidProgressBar2: buttonBgMidProgressBar2;
$buttonBgDownProgressBar: buttonBgDownProgressBar;
$buttonBgDownProgressBar2: buttonBgDownProgressBar2;
$bg: bg;
$surfacePrimary: surfacePrimary;
$surfacePrimary2: surfacePrimary2;
$surfacePrimaryAccent: surfacePrimaryAccent;
$surfaceBorderAccent: surfaceBorderAccent;
$surfaceBorderSubtitles: surfaceBorderSubtitles;
$surfaceBorder1: surfaceBorder1;
$surfaceBorder2: surfaceBorder2;
$textPrimaryMain: textPrimaryMain;
$textAccent: textAccent;
$buttonBgActive: buttonBgActive;
$buttonBgActive2: buttonBgActive2;
$buttonLabelActive: buttonLabelActive;
$buttonLabelActive2: buttonLabelActive2;
$buttonLabelActive3: buttonLabelActive3;
$buttonLabelActive4: buttonLabelActive4;
$buttonBgHover: buttonBgHover;
$buttonLabelHover: buttonLabelHover;
$buttonLabelHover1: buttonLabelHover1;
$buttonLabelHover2: buttonLabelHover2;
$buttonBorderHover: buttonBorderHover;
$buttonBgPressed: buttonBgPressed;
$buttonLabelPressed: buttonLabelPressed;

$buttonLabelDisabled: buttonLabelDisabled;
$buttonBackgorundDisabled: buttonBackgorundDisabled;
$buttonBgDefault: buttonBgDefault;
$buttonBgDefault1: buttonBgDefault;
$buttonLabelDefault: buttonLabelDefault;
$buttonLabelDefault1: buttonLabelDefault1;
$buttonBgInactive: buttonBgInactive;
$buttonLabelInactive: buttonLabelInactive;
$buttonBgProgress: buttonBgProgress;
$buttonLabelProgress: buttonLabelProgress;
$buttonLabelProgress1: buttonLabelProgress1;
$buttonBgError: buttonBgError;
$buttonPlaceholderError: buttonPlaceholderError;
$buttonBorderSuccess: buttonBorderSuccess;
$buttonLabelSuccess: buttonLabelSuccess;
$bgSecondary: bgSecondary;
$buttonBackgroundSecondary: buttonBackgroundSecondary;
$buttonLabelSecondary: buttonLabelSecondary;
//gradient names
$gradientImage: gradientImage;
$gradientButtonHover: gradientButtonHover;
$gradientButtonHover1: gradientButtonHover1;
//shadow
$shadowBgPopup: shadowBgPopup;
