//colors
$colorWhite: #FDFAFF;
$colorBlack: #171717;
$colorGreen: #AAF97E;
$colorPurple: #9278F7;

//gradient
$gradientGreen: linear-gradient(140deg, #AAF97E 5.33%, #9AEC6C 131.71%);
$gradientPurple: linear-gradient(180deg, #8A2DE7 0%, #5659FE 100%);

//sizes
$sizeContainerLarge: 1920px;
$sizeContainer: 1400px;
$sizeExtraLarge: 1200px;
$sizeLarge: 950px;
$sizeMedium: 786px;
$sizeSmall: 576px;

//shadow

//mixins
@mixin fontStyle($size: 16px, $weight: 400, $height: normal) {
	font-size: $size;
	font-weight: $weight;
	line-height: $height;
}

@mixin width-height($width, $height: $width) {
	width: $width;
	height: $height;
}

@mixin borderStyle($border, $borderRadius) {
	border: $border;
	border-radius: $borderRadius;
}

@mixin flex-grid($display, $direction, $justify, $align) {
	display: $display;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin flexColumnCenter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
@mixin textCenter {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
