$iconsFontFamily: 'iconsFont' !default;
$iconsFontPath: '../../assets/fonts' !default;

$iconSoundOff: '\e900';
$iconSoundOn: '\e901';
$iconTwitter: '\e902';
$iconLoader: '\e903';
$iconSend: '\e904';
$iconEyeClose: '\e905';
$iconEyeOpen: '\e906';
$iconArrowBack: '\e907';
$iconEmail: '\e908';
$iconArrowMessage: '\e909';
$iconClose: '\e90a';
