@use '../../styles/styles.scss' as *;

.languages {
  @include width-height(100%, 400px);
  padding: 32px 24px;
  border-radius: $space8;
  @include themed() {
    border: 1px solid t($surfaceBorder1);
    background: t($surfacePrimary2);
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include width-height(100%, 64px);
    padding: 0 15px;
    cursor: pointer;
    @include fontStyle(20px, 700, 32px);
    @include themed() {
      color: t($textPrimaryMain);
    }
    & img {
      clip-path: circle(50% at 50% 50%);
    }

    & p {
      margin-left: 12px;
    }

    &:hover {
      @include themed() {
        background-color: t($formBackground);
      }
      border-radius: $space4;
    }

    &_active {
      @extend .languages__item;
      border-radius: $space4;
      @include themed() {
        border: 2px solid t($surfacePrimaryAccent);
        background-color: t($formBackground);
        color: t($textPrimaryMain);
      }
    }
  }
}