@use '../../../styles/styles.scss' as *;

@mixin questCard($padding) {
  display: flex;
  width: 100%;
  height: fit-content;
  border-radius: $space6;
  backdrop-filter: blur(15px);
  cursor: pointer;
  padding: $padding;
  gap: 12px;
}

.questCard {
  @include questCard(12px);
  @include themed() {
    background: t($surfacePrimary2);
  }
  &:hover {
    @include questCard(12px);
    transition: .3s;
    @include themed() {
      background: t($formBackground);
    }
  }
  &_active {
    @include questCard(11px);
    @include themed() {
      background: t($formBackground);
      border: 1px solid t($surfaceBorderSubtitles);
    }
  }
  &__img {
    border-radius: $space6;
    width: 68px;
    height: 68px;
    object-fit: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 5px;
  }
  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__notification {
    background: $colorGreenPrimary100;
    padding: 0 7px;
    align-self: flex-end;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    border-radius: $space6;
    align-self: flex-start;

    // &_blank {
    // }
  }

  &__title {
    @include fontRoboto;
    @include fontStyle(18px, 500, 20px);
    font-style: normal;

    @include themed() {
      color: t($textPrimaryMain);
    }
  }

  &__author {
    @include themed() {
      color: t($formLabelPlaceholder);
    }
    @include fontRoboto;
    @include fontStyle(16px, 500, 20px);
    font-style: normal;
  }

  &__inProgress {
    white-space: nowrap;
    align-self: flex-end;
    text-align: right;
    @include fontRoboto;
    @include fontStyle(16px, 500, 20px);
    font-style: normal;
    justify-self: flex-end;
    @include themed() {
      background: t($gradientQuestProgress);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  
  &__completed {
    text-align: right;
    @include fontRoboto;
    @include fontStyle(16px, 500, 20px);
    font-style: normal;
    align-self: flex-end;
    @include themed() {
      color: t($messageLabelGuides);
    }
  }
}