@use '../../../styles/styles.scss' as *;
@use '../../ui/buttons/Button/style.module.scss' as *;

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include width-height(100%, $space15);
	&__logo {
		@include themed() {
			background-image: t($imageLogo);
			background-position: left center;
			background-repeat: no-repeat;
			@include width-height(150px, 100%);
		}
	}
}

.option {
	display: flex;
	gap: 20px;
	&__chat {
		background-color: transparent;
	}
	&__menu {
		height: 56px;
	}
	&__login {
		@include fontStyle(20px, 700, 24px);
		width: 200px;
		height: 56px;
		@include flexCenter;
		&:hover {
			@include themed() {
				background: t($buttonBgPressed);
				color: t($buttonLabelPressed);
			}
		}
	}
}
