@use '../../../styles/styles.scss' as *;
@use '../../ui/buttons/Button/style.module.scss' as *;

.header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 24px;
	padding: 0 28px;
	@include width-height(100%, 100px);
	&__auth {
		display: flex;
		align-items: center;
		gap: 31px;

	}
	z-index: 10;
}

.navigation {
	position: relative;
	height: 100%;
	z-index: 0;
	&__list {
		max-width: 1400px;
		width: 100%;
		height: 100px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
	}
	&__submenu {
		display: flex;
		opacity: 0;
		position: absolute;
		top: 100px;
		margin: 0 0 0 -50px;
		transition: 0.5s;
		z-index: 5;
		user-select: none;
	}
	&__item {
		display: flex;
		align-items: center;
		height: 100%;
		margin-top: 1px;
		& img {
			margin: 0;
			padding: 0;
			margin-top: -16px;
			margin-right: 11.5px;
			margin-left: -19px;
			width: 56px;
			height: 60px;
		}
		&:last-of-type {
			&::after {
				margin-left: 10px;
				rotate: 270deg;
				transition: 0.5s;
			}
			&:hover {
				& > .navigation__submenu {
					opacity: 1;
					transition: 0.5s;
					user-select: none;
				}
				&::after {
					margin-left: 10px;
					rotate: 0deg;
					transition: 0.5s;
				}
			}
		}
	}
	&__title {
		color: $colorPurple;
		font-family: Russo One;
		@include fontStyle(36px);
		line-height: normal;
		margin-top: 5px;
	}
	&__link {
		display: flex;
	}
}

.navigation__link,
.submenu__link {
	@include fontStyle(24px, 400, 28px);
	&:hover {
		transition: 0.3s;
	}
}

.submenu {
	flex-direction: column;
	gap: 24px;
	border-radius: 4px 4px 24px 24px;
	padding: 24px 36px;
	z-index: -1;
	&__link {
		white-space: nowrap;
		@include fontStyle(18px, 500);
		display: flex;
		align-items: center;
		&::before {
			font-size: 6px;
			margin-right: 10px;
		}
	}
}
.auth {
	position: relative;
	height: 100%;
	margin-left: -60px;
	margin-top: -17px;
	&__button {
		@extend .button;
		@include fontStyle(24px, 700, 32px);
		border-radius: 20px;
		width: 233px;
		height: 64px;
		@include flexCenter;
		margin: auto;
		text-align: center;
		font-family: Roboto;
		background: transparent;
		&_login {
			padding: 20px 80px;

			background: $colorGreen;
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			@include borderStyle(3px solid $colorGreen, 16px);
			&:hover {
				background: $colorGreen;
				background-clip: padding-box;
				-webkit-text-fill-color: unset;
				color: $colorBlack;
			}
		}
	}
}
.temp {
	position: absolute;
	right: 0;
	top: 0;
	margin-top: -50px;
}
