@use '../../../styles/styles.scss' as *;
@use '../../ui/buttons/Button/style.module.scss' as *;

.header {
	display: flex;
	@include width-height(100%, 56px);
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
}

.navigation {
	&__logo {
		@include themed() {
			background-image: t($imageLogo);
			background-position: center;
			background-size: 143px;
			@include width-height(125px, 48px);
		}
	}
}

.auth {
	&__button {
		@include fontStyle(20px, 700, 24px);
		width: 200px;
		height: 56px;
		@include flexCenter;
		&_login {
			&:hover {
				@include themed() {
					background: t($buttonBgPressed);
					color: t($buttonLabelPressed);
				}
			}
		}
	}
}
