@use '../../../styles/styles.scss' as *;

.wallet {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: $space8;
  border-bottom-right-radius: $space8;
  padding: 57px 120px 0px 0px;
  height: fit-content;
  gap: 64px;
  @include themed() {
      background: t($bg);
      border: 1px solid t($surfaceBorderSubtitles)
  }
  &__field {
    @include width-height(562px, 278px);
    @include borderStyle(1px solid $colorGray600, 20px);
    @include flex-grid(flex, column, none, flex-start);
    padding: 20px;
    gap: 12px;
    flex-shrink: 0;
    background: $colorGray650;
    // backdrop-filter: blur(26px);
    &_title {
      @include fontRoboto;
      @include width-height(100%, auto);
      display: flex;
      align-items: center;
      gap: 70px;
      align-self: stretch;
      color: $colorGray400;
      @include fontStyle(16px, 500, 20px);
    }
    &_info {
      @include width-height(520px, auto);
      @include flex-grid (flex, none, space-between, center);
      padding: 10px 0px;
      border-bottom: 1px solid rgba(134, 134, 134, 0.10); // цвет изменить на тему
      &_number {
        @include flex-grid(flex, none, none, center);
        width: 232px;
        gap: 12px;
        flex-shrink: 0;
        color: $colorGray100;
        @include fontStyle(20px, 500, 24px);
      }
      &_status {
        @include flex-grid(flex, none, flex-end, center);
        width: 206.5px;
        gap: 8px;
        flex-shrink: 0;
      }
    }
    &_balance {
      display: flex;
      padding: 10px 0px;
      justify-content: center;
      align-items: center;
      gap: 393px;
      border-bottom: 1px solid rgba(134, 134, 134, 0.10); // цвет изменить на тему
    }
    &_textActive {
      color: $colorWhite;
      @include fontStyle(20px, 500, 24px);
    }
    &_textTitle {
      color: $colorGray400;
      @include fontStyle(20px,500, 24px);
    }
    &_connect {
      @include flex-grid(flex, none, none, center);
      width: 520px;
      padding: 10px 0px;
      gap: 12px;
      border-bottom: 1px solid rgba(134, 134, 134, 0.10); // цвет изменить на тему
      &_status {
        width: 230px;
        flex-shrink: 0;
      }
      &_money {
        display: flex;
        width: 277px;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
      }
    }
    &_disconnect {
      @include flex-grid(flex, none, flex-end, center);
      width: 520px;
      gap: 8px;
      &_title {
        white-space: nowrap;
        // width: 105px;
        flex-shrink: 0;
      }
    }
  }
  &__img {
    width: 28px;
    height: 26px;
  }
  &__mascot {
    width: 360px;
    height: 397px;
    margin-bottom: -20px;
    padding: 0px 64px 0px 43px;
  }
  &__icon {
    background: transparent;
    color: $colorGray400;
    font-size: 20px;
    cursor: pointer;
    @include themed() {
      color: t($formLabelPlaceholder);
    }
    &:hover {
      transition: .3s;
      @include themed() {
        color: t($messageLabelGuides);
      }
    }
    &:active {
      @include themed() {
        color: t($buttonBorderHover);
      }
    }
  }
}
