@use '../../../styles/styles.scss' as *;

.profile {
    width: 100%;
    display: flex;
    padding: 57px 120px 0px 43px;
    height: fit-content;
    gap: 64px;
    &__img {
      width: 360px;
      height: 397px;
      margin-bottom: -20px;
    }
    &__info {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: $space11;
    }
    &__rewards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: fit-content;
      padding: $space4 $space6;
      border-radius: 20px;
      backdrop-filter: blur(26px);
      @include themed() {
        background: t($formBackground);
      }
    }
    &__unclaimed {
      display: flex;
      flex-direction: column;
      gap: $space4;
    }
    &__title {
      @include fontStyle(20px, 500, 24px);
      font-style: normal;
      @include themed() {
        color: t($formLabelPlaceholder);
      }
    }
    &__total {
      @include fontStyle(32px, 700, 38px);
      font-style: normal;
      @include themed() {
        color: t($textPrimaryMain);
      }
    }
    &__container {
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      gap: $space4;
      padding: $space5 $space6;
      border-radius: 20px;
      backdrop-filter: blur(26px);
      @include themed() {
        background: t($formBackground);
      }
    }
    &__Referrals {
      display: flex;
      gap: $space11;
    }
    &__btn {
      @include fontStyle(20px, 700, 24px);
      height: 45px;
      padding: 0 32px;
    }
}