@use '../../../styles/styles.scss' as *;

.content {
  @include flexColumnCenter;
  width: 100%;
  &__container {
    width: 100%;
    max-width: 1160px;
  }
  &__subtitle {
    @include fontStyle(28px, 700, 40px);
    padding: $space8;
    grid-template-columns: $space14 1fr fit-content(50px);
    grid-template-rows: 1fr $space14;
    column-gap: 24px;
    margin-top: -50px;
  }
}