@use '../../styles/styles.scss' as *;

.questWindow {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: url(../../assets/images/questBgLights.png) $colorBlack;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: $sizeContainer;
    width: 100%;
    padding: 32px 16px;
  }
  &__header {
    height: $space15;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__app {
    display: grid;
    height: calc(100vh - 140px);
    grid-template-columns: 320px 1fr;
    gap: 8px;
  }
}