@use '../../../styles/styles.scss' as *;

.folder {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	min-height: 492px;
	height: 100%;
	@include themed() {
		background-color: t($buttonLabelActive);
		@include borderStyle(1px solid t($surfaceBorderSubtitles), 28px);
	}
}

.tabs {
	display: flex;
	height: 54px;
	width: 100%;
	border-radius: 28px 28px 0 0;
	@include themed() {
		border-bottom: 1px solid t($surfaceBorderSubtitles);
		background-color: t($surfacePrimary);
	}
	&__tab {
		position: relative;
		@include textCenter;
		@include fontStyle(16px, 500, 20px);
		width: 100%;
		transition: .3s;
		@include themed() {
			color: t($buttonLabelDefault);
		}
		&::before {
			position: absolute;
			left: 0;
			font-size: 40px;
			@include themed() {
				color: t($surfaceBorderSubtitles);
			}
		}
		&:hover {
			@include themed() {
				color: t($buttonBgHover3);
			}
		}
		&_active {
			@include themed() {
				color: t($buttonLabelActive2);
			}
		}
	}
}