@use '../../../../styles/styles.scss' as *;

.modal {
  max-width: 748px;
  padding: 20px;
  width: fit-content;
}
.history {
  &__title {
    color: var(--Colors-form-label-placeholder, #868686);
    @include fontRoboto;
    @include fontStyle(20px, 700, 32px);
    @include themed() {
      color: t($formLabelPlaceholder);
    }
    font-style: normal;
    height: $space14;
  }
  &__scroll {
    max-height: 355px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 3px;
    }
    &::-webkit-scrollbar-thumb {
      @include themed() {
        background-color: t($surfaceBorderSubtitles);
      }
    }
  }
}

.transaction {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 24px;
  @include themed() {
    border-bottom: 1px solid t($messageLabelGuides);
  }
  &__type {
    width: 42px;
    height: 48px;
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  &__circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #D9D9D9; // todo добавить в переменные
  }
  &__title {
    text-align: center;
    @include fontRoboto;
    @include fontStyle(20px, 700, 24px);
    font-style: normal;
    @include themed() {
      color: t($textPrimaryMain);
    }
  }
  &__text {
    @include fontRoboto;
    @include fontStyle(16px, 500, 20px);
    font-style: normal;
    @include themed() {
      color: t($textPrimaryMain);
    }
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $space10;
  }
  &__crypto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  &__share {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    &>div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__plus {
    color: var(--Colors-form-label-placeholder, #868686);
    @include fontRoboto;
    @include fontStyle(16px, 500, 20px);
    font-style: normal;
  }
  &__metamask {
    width: 24px;
    height: 24px;
  }
  &__btn {
    background: transparent;
    font-size: 20px;
    transition: .3s;
    cursor: pointer;
    @include themed() {
      color: t($formLabelPlaceholder);
    }
    &:hover {
      @include themed() {
        color: t($messageLabelGuides);
      }
    }
    &:active {
      @include themed() {
        color: t($buttonBorderHover);
      }
    }
  }
}