@use '../../../styles/variables' as v;

.field{
	@include v.width-height(100%, 48px);
	position: relative;
	border-radius: 16px;
	&_error {

	}
	&__input {
		font-size: 14px;
		line-height: 17px;
		height: 100%;
		background-color: transparent;
		display: flex;
		align-items: center;
		width: 100%;
		cursor: text;
		&:disabled{
		}
		&::placeholder{
		}
	}
	&__password {
		&::before {
		}
		&_show {
			&::before {
			}
		}
	}
}