@use '../../../styles/styles.scss' as *;

.field{
	@include flex-grid(flex, null, null, center);
	@include width-height(100%, 68px);
	position: relative;
	border-radius: 16px;
	background-color: $colorGray650;
	&:focus{
		border: 1px solid $colorGray600;
	}
	&_error {
		border: 1px solid $colorRed500;
		color: $colorRed500;

	}
	&__input {
		font-size: 24px;
		border-radius: 16px;
		height: 100%;
		background-color: $colorGray650;
		width: 100%;
		@include textStyleSecondary1;
		cursor: text;
		@include themed() {
			// color: t($formLabel);
			// -webkit-text-fill-color: t($formLabel);
			text-fill-color: t($formLabel);
		}
		// &:disabled{
		// 	cursor: default;
		// }
		&::placeholder{
			@include textStyleSecondary1;
			@include themed() {
				text-fill-color: t($formLabelPlaceholder);
				-webkit-text-fill-color: t($formLabelPlaceholder);
			}
		}
		&_mail {
			padding: 14px $space10;
			color: $colorGray100;
		}
		&_search {
			padding: 0px 12px;
			color: $colorGray500;
		}
		&_error {
			@include themed() {
				color: t($buttonPlaceholderError);
				-webkit-text-fill-color: t($buttonPlaceholderError);
				text-fill-color: t($buttonPlaceholderError);
			}
			&::placeholder{
				@include themed() {
					color: t($buttonPlaceholderError);
				}
			}
		}
	}
	&__btn {
		display: flex;
		&__password {
		font-size: 32px;
		background-color: transparent;
		margin: 0 36px 0 0;
		color: $colorGray400;
		&_show {
			font-size: 23px;
		}
		&_error {
			&::before {
				color: $colorRed500;
			  }
		}
		}
	}
	&__email {
		&_error {
			font-size: 32px;
			background-color: transparent;
			margin: 0 36px 0 0;
		}
	}
}

.inputQuest {
	width: 100%;
	height: $space14;
}
