@use '../../styles/styles.scss' as *;

.subtitle {
  display: grid;
  width: 100%;
  height: fit-content;
  &__mascotVoice {
    width: fit-content;
    &_size_l {
      @include width-height($space15);
    }
  }

  &__mascotText {
    width: 100%;
  }

  &__answer {
    display: flex;
    justify-content: space-between;
    align-self: end;
    grid-area: 2 / 3 / 3 / 4;
  }
}

.answer {
  display: flex;
  &__arrow {
    @include themed() {
      color: t($buttonLabelActive2);
    }
  }
  &_size_m {
    gap: $space6;
  }
  &_size_l {
    gap: 16px;
  }
  &__arrow {
    @include flexCenter;
    &_size_m {
      font-size: 56px;
    }
    &_size_l {
      font-size: 48px;
      color: $colorGreen;
    }
  }
}