@use '../../styles/styles.scss' as *;

.baseSubtitle {
  display: grid;
  width: 100%;
  grid-template-columns: fit-content(50px) 1fr fit-content(50px);
  grid-template-areas:
    'audio text .'
    'audio .    button';
  &_noAudio {
    grid-template-columns: 1fr fit-content(50px);
    grid-template-areas:
    'text .'
    '.    button';
  }
  &__mascotVoice {
    grid-area: audio;
    display: flex;
    flex-direction: column;
    gap: 20px;
  &_play {
    @include width-height(52px);
  }
  .baseSubtitle__mascotVoice_rate {
      @include width-height(52px);
      @include themed() {
        border-radius: 50%;
      }
    }
  }
  &__mascotText {
    grid-area: text;
    width: 100%;
  }

}

.answer {
  display: flex;
  grid-area: button;
  gap: 20px;
  &__button {
    @include fontStyle(20px, 700);
    min-width: 160px;
    height: 100%;
    &_size {
      &_l {
        @include fontStyle(24px, 700);
        padding: 0 32px;
      }
    }
  }
}