@use '../../styles/styles.scss' as *;

.baseSubtitle {
  display: grid;
  width: 100%;
  grid-template-areas:
    'audio text .'
    'audio .    button';
  &__mascotVoice {
    grid-area: audio;
    display: flex;
    flex-direction: column;
    gap: 20px;
  &_play {
    @include width-height(52px);
  }
  .baseSubtitle__mascotVoice_rate {
      @include width-height(52px);
      @include themed() {
        border-radius: 50%;
      }
    }
  }
  &__mascotText {
    width: 100%;
  }

}

.answer {
  display: flex;
  grid-area: button;
  gap: 20px;
  &__button {
    min-width: 160px;
    height: 100%;
  }
}