@use '../../../../styles/styles.scss' as *;

.modal {
	max-width: 748px;
	padding: 40px 60px;
	&_littleSize {
		max-width: 546px;
	}
	&__title {
		@include textStyleButton2;
	}
}

.form {
	&__inputs {
		display: flex;
		flex-direction: column;
		gap: 8px;
		margin: 32px 0 8px;
	}
	&__input {
		height: 92px;
	}
	&__error {
		@include themed {
			color: t($buttonPlaceholderError);
		}
		@include fontStyle(13px, 400, 16px);
		margin-top: 8px;
	}
	&__btn {
		max-width: 132px;
		width: 100%;
		height: $space14;
		margin-left: auto;
		@include fontStyle(20px, 700, 24px);
	}
}

.input {
	margin: 28px 0 24px;
}

.social {
	margin-top: 1px;
	&__title {
		margin-bottom: 16px;
		@include fontStyle(20px, 700, 24px);
	}
}

