@use '../../styles/styles.scss' as *;

.wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 0 30px;
	@include themed() {
		background-color: t($bg);
	}
	&__container {
		display: flex;
		flex-direction: column;
		gap: 30px;
		max-width: $sizeContainer+192px;
		width: 100%;
		min-height: 100vh;
	}
	&__authorization {
		position: absolute;
		margin: auto;
	}
}
