@use '../../../styles/styles.scss' as *;

.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 32px;
	.form &__field {
		height: 68px;
		font-size: 24px;
		margin-bottom: 32px;
		& > input {
			font-size: 24px;
			border-radius: 16px;
			background-color: $colorGray650;
			&::placeholder {
				@include textStyleSecondary1;
				padding: 14px 36px;
			}
		}
	}
	&__link {
		align-self: flex-end;
		margin-top: -40px;
	}
	&__error {
		color: $colorRed500;
	}
	&__btnSubmit {
		margin-left: 612px;
		padding: 10px 80px;
		color: $colorGray500;
		width: 284px;
		border-radius: 16px;
		border: 2px solid $colorGray500;
		background-color: $colorBlack;
		@include textStyleButton1;
	}
}

.accounts__list {
	display: flex;
	gap: 40px;
}

.input {
	&__title {
		@include fontRoboto;
		@include fontStyle(20px, 700, 24px);
	}
}