@use '../../../styles/styles.scss' as *;
@use '../../ui/buttons/Button/style.module.scss' as *;

.form {
	display: flex;
	flex-direction: column;
	gap: $space8;
	width: 100%;
	&__link {
		align-self: flex-end;
		margin-top: -40px;
	}
	&__error {
		color: $colorRed500;
		@include fontStyle(13px, 400, normal);
		margin-top: -13px;
	}
	&__btn {
		@include flex-grid (flex, none, center, center);
		margin-left: auto;
		width: 284px;
		height: 56px;
		font-family: Roboto;
		background: transparent;
		&_submit {
			@include textStyleButton1;
			width: 284px;
			height: 56px;
			border-radius: 16px;
			&:hover {
				@include themed() {
					color: $colorBlack;
					background: $colorGreen;
					background-clip: padding-box;
					-webkit-text-fill-color: unset;
				}
			}
			&:disabled {
				@include themed() {
					background: $colorGreen;
					cursor:default;
				}
			}
		}
	}
	&__block {
		height: 136px;
	}
}

.input {
	&__title {
		@include fontRoboto;
		@include fontStyle(20px, 700, 24px);
		margin-bottom: 20px;
	}
	&__block {
		@include flex-grid(flex, column, null, null);
		width: 100%;
		gap: $space6;
	}
}