@use '../../../styles/variables.scss' as v;

.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 32px;
	.form &__field {
		height: 68px;
		font-size: 24px;
		margin-bottom: 32px;
		& > input {
			font-size: 24px;
			border-radius: 16px;
			background-color: #2B2B2B;
			&::placeholder {
				font-size: 24px;
				padding: 14px 36px;
			}
		}
	}
	&__link {
		align-self: flex-end;
		margin-top: -40px;
	}
	&__error {
		color: red;
	}
	&__btnSubmit {
		margin-left: 612px;
		padding: 12px 80px;
		font-size: 24px;
		font-weight: 700;
		font-family: 'Roboto', sans-serif;
		color: #636363;
		width: 284px;
		border-radius: 16px;
		border: 2px solid #636363;
		background-color: v.$colorBlack;
	}
}

.accounts__list {
	display: flex;
	gap: 40px;
}

.input {
	&__title {
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		font-weight: 600;
		line-height: 24px; /* 120% */
	}
}