@use '../../../styles/styles.scss' as *;

.questChat {
	display: grid;
	grid-template-rows: 52px 1fr 52px;
	@include themed() {
		border-radius: t($radiusMedium);
		border: 1px solid t($surfaceBorderSubtitles);
		background: t($surfacePrimary);
	}

	&__chat {
		position: relative;
		max-height: calc(100vh - 246px);
		overflow-y: scroll;
		padding: 16px;
		&::-webkit-scrollbar {
			width: 3px;
		}
		&::-webkit-scrollbar-thumb {
			@include themed() {
				background-color: t($surfaceBorderSubtitles);
			}
		}
	}
	&__scrollDown {
		position: absolute;
	}
}