@use '../../styles/styles.scss' as *;

.content {
  @include flexColumnCenter;

  &__main {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px 48px;
    gap: 63px;
    padding-right: 113px;
  }
  &__container {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      @include themed() {
        background:
          t($imageHelloLeftTopSticker) left 64px top 80px / 89px 89px no-repeat,
          t($imageHelloRightDownSticker) right 42px bottom 92px / 98px 101px no-repeat;
      }
    }
  }
  &__img {
    width: 616px;
    height: 536px;
  }

  &__languages {
    margin-top: -54px;
  }

  &__subtitle {
    @include textStyleSubtitle;
    grid-template-columns: $space20 1fr fit-content(30px);
    grid-template-rows: minmax(68px, 1fr) 68px;
    grid-column-gap: 9px;
    padding: 36px;
    margin-top: -64px;
  }
}