@use '../../styles/styles.scss' as *;

.content {
  @include flexColumnCenter;
  &__main {
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 96px;
    gap: 60px;
  }

  &__subtitle {
    @include textStyleSubtitle;
    grid-template-columns: $space20 1fr fit-content(30px);
    grid-template-rows: minmax(156px, 1fr);
    gap: 40px;
    padding: $space10;
    margin-top: -91px;
  }
}