@use '../../styles/styles.scss' as *;

.content {
  @include width-height(100%, 1080px);
  background: url('../../assets/images/helloBgLights.svg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__img {
    margin-top: 131px;
    margin-right: 58px;
  }
}