@use '../../../styles/styles.scss' as *;

.loader {
  @include flexCenter;
  height: 100vh;
  @include themed() {
    background-color: t($bg);
  }
  &__mascot {
    width: 100%;
    height: 400px;
    @include flexCenter;
    position: absolute;
    & img {
      width: 200px;
    }
  }
}