@use '../../styles/variables.scss' as v;

.auth {
	padding: 40px 60px;
	margin: 0 auto;
	width: 1016px;
	min-height: 568px;
	border-radius: 16px;
	background-color: v.$colorBlack;
	box-shadow: 0px 0px 10px 0px #8A2DE7;
	color: v.$colorWhite;
	overflow-y: scroll;
	&::-webkit-scrollbar {
		width: 0;
	}
	a {
		color: v.$colorWhite;
	}
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 48px;
	}
	&__title {
		font-family: 'Russo One', sans-serif;
		font-size: 40px;
		font-weight: 400;
		line-height: 44px; /* 110% */
		width: 100%;
	}
	&__close {
		background: url(../../assets/images/close.svg);
		width: 24px;
		height: 24px;
	}
	&__body {
		display: flex;
		flex-direction: column;
		gap: 52px;
	}
	&__description {
		font-size: 20px;
		font-weight: 700;
		width: 100%;
	}
	&__btn {
		background-color: transparent;
		font-size: 24px;
		font-weight: 600;
		width: fit-content;
		margin: auto;
	}
	&__back {
		background: url(../../assets/images/arrowPrev.svg);
		width: 40px;
		height: 24px;
		margin-right: 16px;
	}
	&__header_row {
		display: flex;
    	align-items: center;
	}
}
.info {
	width: 100%;
}

.socials {
	&__title {
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		font-weight: 600;
		line-height: 24px; /* 120% */
		margin-bottom: 20px;
	}
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
	}
}

.social {
	width: 100%;
	height: 68px;
	display: flex;
	align-items: center;
	gap: 16px;
	border-radius: 16px;
	padding: 12px 36px;
	background-color: #2B2B2B;
	&_twitter {
		&::before {
			content: url(../../assets/images/twitter.svg);
			width: 40px;
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	&_google {
		&::before {
			content: url(../../assets/images/google.svg);
			width: 40px;
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	&__img {
		width: 40px;
		height: 40px;
	}
	&__text {
		display: flex;
		align-items: center;
		position: relative;
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		font-weight: 400;
		line-height: 26px; /* 130% */
		width: 100%;
		height: 100%;
		color: v.$colorWhite;
		& > button {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
		}
	}
}
