@use '../../styles/styles.scss' as *;

.auth {
	&__header {
		@include flex-grid(flex, row, space-between, center);
		gap: $space6;
		margin-bottom: $space13;
	}
	&__header_row {
		display: flex;
    	align-items: center;
	}
	&__title {
		@include textStyleTitle3;
		line-height: 48px;
	}
	&__body {
		display: flex;
		flex-direction: column;
		gap: $space14;
	}
	&__back {
		font-size: 28px;
		background-color: transparent;
		margin-right: 16px;
		color: $colorGray400;
		&:hover {
			color: $colorGray650;
		}
	}

	a {
		@include themed() {
			color: t($textPrimaryMain);
		}
	}
}

.socials {
	&__title {
		@include fontRoboto;
		@include fontStyle(20px, 700, 24px);
		margin-bottom: $space6;
	}
	&__body {
		height: 68px;
		@include flex-grid(flex, row, space-between, center);
		gap: $space6;
	}
}

.social {
	@include width-height(100%, 68px);
	display: flex;
	align-items: center;
	gap: 16px;
	padding: $space4 30px;
	@include themed() {
		border-radius: t($radiusSmall);
		background-color: t($formBackground);
	}
	&:hover {
		background: $gradientButtonHoverDark1;
	}
	&_twitter {
		&::before {
			font-size: 40px;
		}
	}
	&_google {
		&::before {
			content: '';
			background-image: url(../../assets/images/google.svg);
			background-size: 33px;
			background-position: center;
			@include width-height(33px);
			background-color: transparent;
		}
	}
	&__img {
		@include width-height(40px, 40px);
	}
	&__text {
		display: flex;
		align-items: center;
		position: relative;
		@include textStyleSecondary1;
		@include width-height(100%, 100%);
		@include themed() {
			color: t($textPrimaryMain);
		}
		& > button {
			@include width-height(100%, 100%);
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
		}
	}
}
